
    .geeks{
    background-Color:green;
    Color:white;
    width:1200px;
    height:120px;
    text-align: center;
    float: left;
    margin-top:
}



.AL{
    background-color:  #292727;
    color:antiquewhite;
    width:35px;
    height: 50px;
    text-align: center;
    float: left;
    
}
    
.DS{
    background-color:  #292727;
    color:antiquewhite;
    width:100px;
    height: 50px;
    text-align:center;
    float: left;
    
}


.LA{
    background-color:  #292727;
    color:antiquewhite;
    width:1065px;
    height: 50px;
    text-align: left;
    float: left;
    
}

.A{
    background-color: white;
    color: green;
    width: 390px;
    height: 500px;
    text-align: center;
    float: left;
    

}
.B{
    background-color: white;
    color:green;
     width: 390px;
    height: 500px;
    text-align: center;
    float: left;
    

}

.C{
    background-color: white;
     color:green;
     width: 390px;
     height: 500px;
     text-align: center;
     float: left;

}

